.array-container {
  position: relative;
  /* height:auto;
  width:auto; */
  /* left: 100px; */
  /* top: 100px; */
}

.array-bar {
  width: 20px;
  display: inline-block;
  margin: 0 1px;
}

.array-bar-container {
  width: 22px;
  display: inline-block;
  margin: 0 1px;  
}
